/*reset*/
*{margin:0; padding:0; box-sizing:border-box;}
ul,ol{list-style:none;}
a{
  text-decoration: none;
  color:inherit;
}
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:16px;
  line-height:1.5;
  color:#171717;
}
.wrap{
  width:1300px;
  margin:auto;
}
/*=============================================*/

header{
  min-width:1300px;
  background-color:#fff;
  box-shadow:0 3px 4px rgba(0,0,0,0.2);
}
header > .wrap{
  padding:0 110px;
  height:80px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.gnb{
  display:flex;
}
.gnb > li{
  margin-left:32px;
  font-size:14px;
  color:#333;
}
.gnb > .on{
  color:#10c9c3;
}
