/*#banner*/
#banner{
  min-width:1300px;
  background-color:#f6f6f6;
  padding:100px 0;
  text-align: center;
}
#banner > h1{
  font-size:36px;
  font-weight: 500;
  margin-bottom:20px;
}
#banner > p{
  color:#787878;
  line-height:1.7;
}

/*#works*/
#works > .wrap{
  display:flex;
  flex-wrap:wrap;
}
#works .box{
  width:325px;
  height:280px;
  position:relative;/*pos:abs를 적용한 자식요소의 기준이 됨*/
  overflow:hidden;
}
#works .box .overlay{
  position:absolute;
  top:0; left:0; bottom:0; right:0;
  /*position속성을 적용한 부모(조상)요소와 같은 크기로 설정*/
  background:#10c9c388 url(../img/eye.png) no-repeat center;
  /*색상코드의 마지막 2자리는 알파채널*/
  visibility:hidden;
  opacity:0;
  transform:scale(0) rotate(-720deg);
  transition:all 0.3s;/*변환효과 적용*/
}
/*box요소에 마우스를 올리면 overlay요소가 나타남*/
#works .box:hover .overlay{
  visibility:visible;
  opacity:1;
  transform:scale(1) rotate(0deg);
}